#store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#add-goods, #add-goods:active, #add-goods:link, #add-goods:visited {
    display: block;
    text-decoration: none;
    color: black;

    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
}

#add-goods:hover {
    color: red;
}

#info {
    font-size: 20px;
    line-height: 25px;
    height: 25px;
    margin-bottom: 10px;
}

#info-score {
    margin: 0 10px;
    text-align: center;
}

#store-item {
    width: 200px;
    background-color: rgb(224, 255, 255);
    border-radius: 10px;
    border: 2px rgb(224, 255, 255) ridge;
    padding: 10px;
    margin: 5px 5px;
}

.store-item-info {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.store-item-title {
    font-weight: bold;
}

label.store-item-num {
    display: block;
    font-size: 20px;
}

input.store-item-num {
    font-size: 20px;
    width: 100px;
    margin-bottom: 5px;
}

.store-item-submit {
    display: block;
    font-size: 20px;
    width: 100%;
    margin: 5px auto;
}