.pyecharts-frame-l, .pyecharts-frame {
    width: 1100px;
    border: 0;
    margin: 10px auto;
}

.pyecharts-frame {
    height: 550px;
}

.pyecharts-frame-l {
    height: 600px;
}


.title {
    margin-top: 20px;
    font-size: 23px;
}

.info {
    text-indent: 2em;
    font-size: 19px;
}