/* 全局设定相关 */
html {
    font-size: 15px;
    font-family: 'Noto Sans SC', sans-serif;
}

body {
    position: relative;
    overflow-y: scroll; /* 总是显示滚动条 */
    min-height: 83vh; /* 设置最小高度为整个窗口的高度 */
}

/* 顶菜单栏 */
nav.nav-top {
    position: fixed; /* 固定布局 */
    top: 0;
    left: 0;

    width: 100%;

    vertical-align: center;
    background-color: rgba(240, 128, 128, 90%); /* 带一点透明效果 */
    z-index: 10;
}

#nav-title {
    display: block;
    float: left;

    font-size: 25px;
    line-height: 80px;
    font-weight: bold;
    margin-left: 10px;
}

#nav-title, #nav-title:hover, #nav-title:active, #nav-title:link, #nav-title:visited {
    text-decoration: underline;
    color: #FFFFFF;
}

ul.nav-top {
    display: block;
    float: right;
    margin-right: 10px;
}

li.nav-top-item {
    display: inline-block;
}

a.nav-top-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
}

a.nav-top-item, a.nav-top-item:hover, a.nav-top-item:active, a.nav-top-item:link, a.nav-top-item:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a.nav-top-item:hover, a.nav-top-item:active {
    text-decoration: none;
    color: #800080;
}


#start-p {
    margin-top: 8%;
}

/* 闪现消息 */

@keyframes show_flash_message {
    0% {
        color: white;
        background-color: #FFFFFF;
    }
    50% {
        color: black;
        background-color: rgba(221, 160, 221);
    }
    100% {
        color: white;
        background-color: #FFFFFF;
    }

}

.top-msg {
    display: block;
    width: 60%;
    text-align: center;

    border-radius: 15px;

    color: white;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin: 5px auto;

    animation-name: show_flash_message;
    animation-duration: 3s;
}

/* 内容 */
@media all and (max-width: 992px) {
    /* 小屏幕(手机) */
    #main {
        position: relative;
        left: 3%;
        width: 94%;
    }
}

@media not all and (max-width: 992px) {
    #main {
        position: relative;
        left: 25%;
        width: 50%;
    }
}

#nav-bottom {
    position: absolute;
    bottom: 0;

    background-color: black;
    text-align: center;
    vertical-align: center;
    width: 100%;
    z-index: 10;
    font-size: 15px;
    height: 5vh;
}

.nav-bottom-item {
    display: block;
    color: #FFFFFF;
}

#github-link, #github-link:hover, #github-link:active, #github-link:link, #github-link:visited {
    text-decoration: none;
    color: #FFFFFF;
}

#github-link:hover, #github-link:active {
    text-decoration: none;
    color: #800080;
}

#last-p {
    padding-top: 7vh;
}

/* 用于解决父元素高度坍塌 */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
