html {
    font-size: 15px;
    font-family: 'Noto Sans SC', sans-serif;
}

section.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    vertical-align: center;
    background-color: rgba(240, 128, 128, 90%);
    z-index: 10;
}

ul.top-nav {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

li.top-nav-item {
    display: inline-block;
}

a.top-nav-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
}

a.top-nav-item, a.top-nav-item:hover, a.top-nav-item:active, a.top-nav-item:link, a.top-nav-item:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a.top-nav-item:hover, a.top-nav-item:active {
    text-decoration: none;
    color: #800080;
}

#start-p {
    margin-top: 8%;
}


.top-flash-message {
    display: block;
    width: 60%;
    text-align: center;

    border-radius: 15px;
    background-color: rgba(64, 224, 208);

    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin: 5px auto;
}

#top-title {
    display: inline-block;
    font-size: 25px;
    position: relative;
    left: 3%;
    line-height: 80px;
    height: 100%;
    font-weight: bold;
}

#top-title, #top-title:hover, #top-title:active, #top-title:link, #top-title:visited {
    text-decoration: underline;
    color: #FFFFFF;
}

#bottom-nav {
    position: fixed;
    top: 95%;
    background-color: black;
    text-align: center;
    vertical-align: center;
    width: 100%;
    z-index: 10;
}

@media all and (max-width: 992px) {
    /* 小屏幕(手机) */
    #bottom-nav {
        height: 8%;
    }
}

@media not all and (max-width: 992px) {
    #bottom-nav {
        height: 5%;
    }
}

.bottom-nav-item {
    display: block;
    font-size: 15px;
    color: #FFFFFF;
}

#github-link, #github-link:hover, #github-link:active, #github-link:link, #github-link:visited {
    text-decoration: none;
    color: #FFFFFF;
}

#github-link:hover, #github-link:active {
    text-decoration: none;
    color: #800080;
}

#last-p {
    margin-top: 5%;
}

@media all and (max-width: 992px) {
    /* 小屏幕(手机) */
    #main {
        position: relative;
        left: 3%;
        width: 94%;
    }
}

@media not all and (max-width: 992px) {
    #main {
        position: relative;
        left: 30%;
        width: 40%;
    }
}