section#ranking-section {
    position: relative;
    left: 30%;
    width: 40%;
}

li#ranking-item-1 {
    background-color: #eaff56;
}

li#ranking-item-2 {
    background-color: #ffa631;
}

li#ranking-item-3 {
    background-color: #ff7500;
}

li.ranking-item {
    border-width: 2px;
    border-style: ridge;
    border-color: #F08080;
    margin: 3% auto;
    text-align: center;
}

p.ranking-no, p.ranking-name, p.ranking-uid, p.ranking-score, p.ranking-reputation {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
}