{% macro _get_rank(infos) %}
    <li id="ranking-item-{{ infos[0] }}" class="ranking-item">
        <p class="ranking-no"> {{ infos[0] }} </p>
        <p class="ranking-name"> &nbsp;&nbsp;&nbsp;&nbsp;{{ infos[1] }} </p>
        <br>
        <p class="ranking-uid"> {{ infos[1] }} </p>
        <p class="ranking-reputation"> &nbsp;&nbsp;&nbsp;&nbsp;Reputation: {{ infos[3] }} </p>
        <p class="ranking-score"> &nbsp;&nbsp;&nbsp;&nbsp;Score: {{ infos[4] }} </p>
    </li>
{% endmacro %}

{% macro get_rank(info_lines) %}
    {% for line in info_lines %}
        {{ _get_rank(line) }}
    {% endfor %}
{% endmacro %}