body {
    background-image: url("../../images/starry-sky.jpg");
}

#base {
    position: relative;
}

#title-1 {
    text-align: center;
    color: #F0FFF0;
    font-size: 50px;
    margin-top: 10%;
}

#title-2 {
    text-align: center;
    color: #F0FFF0;
    font-size: 30px;
    margin-top: 2%;
    text-decoration: underline;
}

#btn {
    position: absolute;
    display: block;
    text-align: center;

    border-radius: 10px;
    border-width: 2px;
    border-style: ridge;
    border-color: rgb(123, 104, 238);

    bottom: 200px;

    color: #F0FFF0;
    background-color: #FFDC00;

    font-size: 30px;
    height: 100px;

    transition: width 1s, height 1s,
    left 1s, border-radius 1s,
    background-color 1s, color 1s,
    font-size 1s, bottom 1s;
}

@media all and (max-width: 992px) {
    #btn {
        left: 3%;
        width: 94%;
    }
}

@media not all and (max-width: 992px) {
    #btn {
        left: 45%;
        width: 10%;
    }

    #btn:hover {
        left: 40%;
        width: 20%;
        height: 150px;
        bottom: 175px;
        border-radius: 30px;

        color: black;
        background-color: #F0FFF0;

        font-size: 50px;
    }
}

#main {
    text-align: center;
}