{% import "macro.html" as macro %}  <!-- 导入宏 -->

<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">

    <!-- 针对移动端的优化 width为设备大小, user-scalable不允许用户缩放 initial-scale首次加载缩放大小为1.0 -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--  针对ie的设置  -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block font %}
        <!-- Google Font 字体设置 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300&display=swap" rel="stylesheet">
    {% endblock %}


    {% block style %}
        <link href="{{ url_for('static', filename='styles/reset.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet">
    {% endblock %}

    {% block head %} {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title> {% block  title %} HGSSystem {% endblock %} </title>
</head>

<body>

{% block nav %}
    <nav class="nav-top clearfix">
        <p id="nav-title"> HGSSystem-{{ loc }} 在线 </p>
        <ul class="nav-top">
            <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('hello.index') }}">
                首页 </a></li>

            <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('rank.rank_up', page=1) }}">
                高分榜 </a></li>

            <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('rank.rank_down', page=1) }}">
                警示榜 </a></li>

            <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('store.index') }}">
                积分商城 </a></li>

            <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('news.index', page=1) }}">
                博客 </a></li>

            <li class="nav-top-phone-display">
                <a class="nav-top-item" href="{{ url_for('data.index', page=1) }}">
                    统计 </a></li>

            {% if current_user.is_authenticated %}
                <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('auth.about') }}">
                    关于: {{ current_user.name }} </a></li>
            {% else %}
                <li class="nav-top-item"><a class="nav-top-item" href="{{ url_for('auth.login') }}"> 登录 </a></li>
            {% endif %}

        </ul>
    </nav>
{% endblock %}

<p id="start-p"></p>  <!-- 占位作用 -->

<article>
    {% block flash %}
        {% if flash_height != 0 %}
            <ul class="top-msg-section">
                {% for message in flash_msg %}
                    <li class="top-msg"> {{ message }} </li>
                {% endfor %}
            </ul>

            <script>
                setTimeout(function () {
                    let ul_flash = document.querySelector("ul.top-msg-section");
                    ul_flash.style.display = "none";
                }, 3100)
            </script>
        {% endif %}
    {% endblock %}

    {% block h1_title_ %}
        <section style="text-align: center">
            <h1 style=";font-size: 35px;font-weight: bold;margin: 0px auto 4%;">
                {% block h1_title %} {% endblock %}</h1>
        </section>
    {% endblock %}

    {% block content_ %}
        <section id="main">
            {% block content %}{% endblock %}
        </section>
    {% endblock %}
</article>

<p id="last-p"></p>  <!-- 占位作用 -->
{% block bnav %}
    <footer id="nav-bottom">
        <p class="nav-bottom-item"> 版权归属 (c) {{ copy_right }}<br>在
            <a id="github-link" href="{{ github_link }}">Github</a>上查看</p>
    </footer>
{% endblock %}

</body>
</html>