{% macro get_rank_head(heads) %}
    <thead class="rank_table">
    <tr class="rank_table">
        {% for head in heads %}
            <th class="rank_table" scope="col">{{ head|safe }}</th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro _get_rank(infos) %}
    <tr class="rank_table">
        <th class="rank_table" scope="row"> {{ infos[0]|safe }} </th>
        {% for info in infos[1:] %}
            <td class="rank_table"> {{ info|safe }} </td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro get_rank(info_lines) %}
    <tbody class="rank_table">
    {% for line in info_lines %}
        {{ _get_rank(line) }}
    {% endfor %}
    </tbody>
{% endmacro %}