{% extends "base.html" %}

{% block title %} Hello-HGSSystem {% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
{% endblock %}

{% block nav %} {% endblock %}
{% block bnav %} {% endblock %}
{% block h1_title_ %} {% endblock %}

{% block content_ %}
    <section id="base">
        <h1 id="title-1"> 欢迎，HGSSystem在线系统 </h1>
        <h2 id="title-2"> {{ loc }} 站 </h2>
        <form method="get" action="{{ url_for('hello_web.start') }}">
            <input id="btn" type="submit" value="开始">
        </form>
    </section>
{% endblock %}